Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
celery[redis]>=5.5,<5.6
psycopg[binary]>=3.2,<3.3
requests>=2.32,<3
opentelemetry-api>=1.36,<2
opentelemetry-sdk>=1.36,<2
opentelemetry-instrumentation-django>=0.57b0,<0.58
opentelemetry-instrumentation-celery>=0.57b0,<0.58
opentelemetry-instrumentation-requests>=0.57b0,<0.58
opentelemetry-instrumentation-psycopg>=0.57b0,<0.58
